<header >
  <!-- First Row -->
  <div class="w-full">
  <div class="container mx-auto flex justify-between items-center px-4 lg:px-8 ">

  <% if (announcement = Setting.find_by(key: 'announcement-bar')) && announcement.parsed_value.present? %>
    <div class="announcement-bar text-black text-center py-2">
      <a href="<%= catch_all_page_path(announcement.parsed_value[1]) %>" class="text-black">
        <%= announcement.parsed_value[0] %>
      </a>
    </div>
  <% end %>

  <%= render 'menus/header_menu_mobile' %>
</div>

  </div>
  <%= render 'menus/header_menu_desktop' %>
</header>

