<article>

<h2 class="h1">Contact Us</h2>
<br><br>
Please contact us on Discord:
<br  />
<%= link_to "https://discord.gg/ESERudf2UX", class: "social_link", target: '_blank' do %>
<%= show_svg('discord') %>
<% end %>

<br><br>

<span class="a12b-r">TO CONTACT US DIRECTLY:</span>
<br>Origin Systems, Inc. <br>Attn: Ultima Online<br>5918 W. Courtyard<br>Austin, TX 78731 <br><br>



</p></font></td>
</article>
<% content_for :meta_title, @page.title %>
<% content_for :meta_description, meta_description %>
<% content_for :meta_keywords, meta_keywords %>