<article>

	
(Newly Updated: 5/15/00)
Welcome to the world of Ultima Online! The following pages contain information that will help you create a character, enter the game, and begin exploring the world of Britannia. Once you feel comfortable in the game, you may also wish to explore the wealth of information available throughout the rest of this Playguide. We’ll tell you all about spells, skills, and monsters, as well as spin a tale or two of Ultima Online history.
Full Story

Hiding
	 (Newly Updated: 5/15/00)
The over 45 skills available in Ultima Online allow you to customize your character in any way you want. Play a master chef who pickpockets his own tips from the customers, or perhaps the blacksmith’s apprentice who secretly practices her lute in hopes of one day becoming a famous bard. The choice is entirely yours.
Full Story

	 (Newly Updated: 5/30/00)
8 different circles of magic make up 64 different magical spells. Our charts will help you to understand what they do and what to gather in creating them.
Full Story

	 (Newly Updated: 5/30/00)
The expanded equipment section shows images of all weapons, armor, shields and other gear to aid you in your adventuring endeavors. Consider the facts within the tables before purchasing your next item, it may save your life.
Full Story

	 (Newly Updated: 5/31/00)
From the toothsome alligator of the Delucian swamps to the festering zombies of Deceit, the realm of Britannia is home to a wealth of beasts and monsters. The Britannian Bestiary provides tips on many of the famed beasts, fowl, and monsters of the land, including information on habitats, habits, and favorite meals.
Full Story

<div>
     <div class="headline-container">
     <a href="/playguide/atlas"><h2 class="headline">Atlas</h2></a>
       <small>(Updated: August 11 2000)</small>
     </div>
Britannia is a huge world with a great diversity of location and peoples. Review the excerpts on each of the 13 major cities across the continent.
Full Story
</div>

If we fail to acknowledge the past, we are doomed to repeat our failures. Read the narrative description of the lands and its inhabitants.
Full Story

	 (Newly Updated: 5/31/00)
Ultima Online offers players the unique opportunity to buy homes, buildings, boats, and even castles, for their characters to reside in within Britannia. Just like the real world, owning your own home can sometimes become a bit complicated, and we’d like to help you out. Within this section, you will find an assortment of information on buying, placing, and maintaining your own house, boat, or castle.
Full Story

	 (Newly Updated: 5/15/00)
The possibilities of Ultima Online are endless, and with so many things to explore and enjoy, we can’t find categories for them all! In this section, you’ll find tutorials and advice on everything from making money to protecting and improving your reputation.
Full Story

	 (Newly Updated: 5/30/00)
Prepare yourselves brave travelers, for Siege Perilous truly will test your skills as a player. Aggressors who chose to alienate themselves from their fellow adventurers will find quickly it is a struggle to simply survive. Only those who can master the arts of teamwork, communication and trade, as well as combat, will prosper in this challenging world.
Full Story		

	

</article>