:root {
    --small: 640px;
    --medium: 720px;
    --large: 1028px;
    --burgandy: rgb(159, 50, 21);
    --lightgrey: #d6d1ce;
    --teal: #32605e;
    --gold: #ccb377;
    --green: #65d065;
  }
  