<!-- Modal for full-screen image -->
<div data-screenshot-target="modal" class="modal modal-screenshot fixed inset-0 flex items-top justify-top hidden z-50">
  <div class="modal-container">
    <img data-screenshot-target="modalImage" class="h-auto rounded shadow-lg" alt="Modal Image">
    <div data-screenshot-target="modalTitle" class="mt-2 text-center text-white text-lg font-semibold"></div>
    <button class="absolute top-4 right-4 text-white text-xl" data-action="click->screenshot#closeModal">×</button>
  </div>
</div>
