<div class="top-links" style="margin-left:15px;">
  <%= link_to 'Events Calendar', events_path %> |
 Submission Form|
 Guidelines |
Shard Icon Legend |
  <a href="#">Edit Event</a></font></td>
</div>
