<div style="display:flex; flex-direction:column;">

<div data-controller="star-system" style="width: 100%; height: 100%;">
    <!-- This div will contain the 3D scene -->

    <div class="button-group">
        <button type="button" data-action="star-system#selectStarSystem" data-star-system-name="Stanton">Stanton</button>
        <button type="button" data-action="star-system#selectStarSystem" data-star-system-name="Pyro">Pyro</button>
    </div>

</div>



<div class="distance-container" style="position:absolute; bottom:10px; left:10px; width:100%;">
    <h2>Distance</h2>
    <div id="distances" style="color:white"></div>
</div>

<%= render '/layouts/pricelist' %>
</div>